.UploaerThumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;

    .thumb-item {
        display: inline-flex;
        border-radius: 2px;
        border: 1px solid #eaeaea;
        margin-bottom: 8px;
        margin-right: 8px;
        width: 100px;
        height: 100px;
        padding: 4px;
        box-sizing: border-box;

        > div {
            display: flex;
            min-width: 0;
            overflow: hidden;
        }

        img {
            display: block;
            width: auto;
            height: 100%;
        }
    }
}